.main {
  margin-top: 15px;
  border-radius: 8px;

  :global {

    // .ant-spin-container {
    //   text-align: center;
    // }
    .ant-pagination {
      float: none;
      text-align: center;
    }

    .ant-spin-container {
      background: #fff;
      padding-bottom: 8px;
    }
  }
}
