.ant-advanced-search-form {
  padding: 6px 6px 2px 10px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 8px;

  :global {
    .ant-form-item {
      display: flex;
      margin: 0px 0px 12px;
      margin-bottom: 10px;
    }

    .ant-select-selection--single {
      position: relative;
      height: 32px;
      cursor: pointer;
      width: 130px;
    }
  }
}
