.main {
  .defaultFreight {
    height: 60px;
    line-height: 60px;
    background: rgba(244, 245, 248, 1);
    border-radius: 4px;
    border: 1px solid rgba(220, 220, 220, 1);
    padding: 0px 20px;
    position: relative;
    top: -10px;
  }
}
