@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // 全局去掉这个属性
  .ant-page-header-heading {
    display: none;
  }

  .ant-layout {
    background: #F7F6F9;
  }

  // .ant-page-header {
  //   background: #F7F6F9;
  // }

  .ant-pro-grid-content {
    padding: 0px 30px 0px 30px;
  }

  .ant-pro-page-header-wrap {
    padding-bottom: 30px;
  }

  .ant-pro-page-header-wrap-page-header-warp {
    background: #F7F6F9;

  }

  .ant-pro-page-header-wrap {
    background: #F7F6F9
  }

  .ant-table-fixed {
    background: #fff;
  }

  .ant-page-header.has-breadcrumb {
    padding-top: 12px;
    padding-left: 0px;
  }

  .ant-pro-page-header-wrap {
    // background: #F5F7FB; 
  }

  .ant-modal-content {
    width: 85%;

    .ant-modal-header {
      background: linear-gradient(270deg, rgba(90, 153, 255, 1) 0%, rgba(72, 116, 239, 1) 100%);
      text-align: center;
      color: #fff;

      .ant-modal-title {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  // 设置交易设置中的tree排序
  .areaTreeModal {
    width: 700px;

    .ant-modal-content {
      width: auto;

      .ant-modal-body {

        // min-width: 700px;
        .ant-tree li ul {
          position: absolute;
          background-color: #fff;
          z-index: 999;
          display: flex;
          flex-wrap: wrap;
          border: 1px solid #ddd;
          border-radius: 3px;
          min-width: 400px;
        }

        .areaTree {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 155px;
          }

          .ant-tree-treenode-switcher-open {
            position: relative;

            // .ant-tree-child-tree-open {
            //   position: absolute;
            //   z-index: 999;
            //   background-color: #fff;
            // }

            // .ant-tree-child-tree {
            //   position: absolute;
            //   z-index: 999;
            //   // background-color: red;
            //   background-color: #fff;
            // }
          }
        }
      }
    }
  }


}

.ant-pro-page-header-wrap-children-content {
  margin: 0px
}

.ant-modal {
  .ant-pagination {
    float: none;
    text-align: center;
  }
}

.ant-layout {
  background: #fff;
}

// flex-between
.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: start;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}
